<connectionStrings>
	<remove name="umbracoDbDSN" />
	<add name="umbracoDbDSN" connectionString="Server=DESKTOP-LFVBB16;Database=thorium-globalcms;Integrated Security=True;" providerName="System.Data.SqlClient" />
	<remove name="mongoDb" />
	<add name="mongoDb" connectionString="mongodb+srv://db-test:mMg9EitQ8alQtgT0@dp-globalcms.1rcv3.mongodb.net/Global_CMS?retryWrites=true&amp;w=majority" providerName="System.Data.SqlClient" />
	<!--mongodb+srv://admin:I9hA67vS8OP57LW1@integration-cluster.wvvyw.mongodb.net/PR1234?retryWrites=true&amp;w=majority-->
</connectionStrings>